@import "tailwindcss";

:root {
  --background: #f8fafc; /* light */
  --surface: #ffffff;
  --border: #e2e8f0;
  --text-primary: #0f172a;

  --primary: #0369a1;
  --accent: #22d3ee;
 
  --secondary: #F2F2F2;
}

.dark {
  --background: #131a2b; /* dark */
  --surface: #1e293b;
  --border: #334155;
  --text-primary: #e2e8f0;
  --secondary: #6B7280;

  --primary: #2563eb;
   --accent: #06b6d4;
}




.logoImg {
  padding: 16px;

}

button {
  cursor: pointer;
}

/* react-calendar base override */
.react-calendar {
  width: 200%;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  background-color: var(--surface-light);
  color: var(--text-primary-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .react-calendar {
  background-color: var(--surface-dark);
  color: var(--text-primary-dark);
}

.react-calendar__tile--now {
  background: var(--primary);
  color: #fff;
  border-radius: 6px;
}

.react-calendar__tile--active {
  background: var(--accent);
  color: #fff;
  border-radius: 6px;
}